.image-collage-container {
    width: calc(33.33% - 20px); /* Adjust as needed; minus margin and padding */
    margin: 10px; /* Add margin as needed */
    padding: 10px; /* Add padding as needed */
  }

 .original-post-url {
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .grid-cols-1 {
    grid-template-columns: 1fr; /* Adjust the grid layout for smaller screens */
  }

  .ReactPhotoCollage {
    width: 100%; /* Make the collage fill the entire width of the container */
    height: auto; /* Allow the height to adjust proportionally */
  }
}